* {box-sizing: border-box;}

body {
  margin: 0;
  font-size: 1.1rem;

  font-family: 'Hanken Grotesk', sans-serif;

  /*background image*/
  background-color: #bfbcbb; /*standby color*/
  background-image: url("../assets/images/v662-peipei-38-memphis-resize.jpg"); /*image*/
  background-size: cover; /*to avoid tiling*/
  background-blend-mode: lighten; /*lighten the background*/
}

p {
  margin: 0;
  padding: 0;
}

.result-container > * {
  text-align: center;
  color: white;
}

.result-header {
  font-weight: 500;
  font-size: 1.3rem;
  color: hsla(0, 100%, 100%, 0.5);
  margin-top: 0;
}

.result-score {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.result-sub-score,
.result-text {
  color: hsla(0, 100%, 100%, 0.7);
}

.result-great-header {
  color: hsla(0, 100%, 100%, 0.9);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.result-text {
  padding: 0 1.1rem 0;
  font-size: 0.9rem;/
  line-height: 1.4;
}

.summary-header {
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 0;
}


/*==================
Layout Styling
==================*/

main {
  background-color: white;
  width: 85vw;
  height: 85vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.container {

  width: 50%;
  height: 55%;


  display: flex;
  flex-direction: row;
  

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 2.5rem 2.5rem 0;

  box-shadow: 17px 18px 16px -3px hsla(241, 81%, 54%, 0.1)


}

.result-container {
  flex: 1;

  padding: 2rem;

  background: linear-gradient(to bottom right, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

  border-radius: 2.5rem;
}

.result-circle {
  margin: 0 auto;
  background: linear-gradient(to bottom right, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 180px;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-circle {
text-align: center;
margin: 0; /* Adjust spacing between text items */
}

.summary-container {
  flex: 1;
  padding: 0 2rem;
  overflow:hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.summary-table {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-score {
  padding: 15px 10px;
  margin-top: 12px;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
}

.table-score div i {
  padding-right: 1rem;
}

.table-score div:nth-child(2){
  color: black;
}


.table-score:nth-child(1){
  background-color: hsla(0, 100%, 67%, 0.2);
  color: hsl(0, 100%, 67%);
}

.table-score:nth-child(2){
  background-color: hsla(39, 100%, 56%, 0.2);
  color: hsl(39, 100%, 56%);
}

.table-score:nth-child(3){
  background-color: hsla(166, 100%, 37%, 0.2);
  color: hsl(166, 100%, 37%);
}

.table-score:nth-child(4){
  background-color: hsla(234, 85%, 45%, 0.2);
  color: hsl(234, 85%, 45%);
}

.button-continue {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: 25px;
  text-align: center;
  margin: 10% 0;
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }